@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  border: none;
  margin: 1.5rem;
  padding: 1.5rem 1.8rem;
  font-size: 2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s;
}

.btn:focus {
  outline: none;
}
